{
  "openapi": "3.1.0",
  "info": {
    "title": "GratisAPI",
    "version": "1.0.0",
    "summary": "A completely free, static, open-data API.",
    "description": "GratisAPI is served entirely from static files. Every path below resolves to a real, clean, extension-less URL you can `curl` or `fetch` directly — for example `GET /api/animals/lion` — with no authentication, no rate limits, no keys and no cost. Only HTTP GET is supported. Large generated families (numbers, unicode blocks, calendars, times tables, math sequences) are omitted here for brevity — see /api/index for the full catalog.",
    "license": {
      "name": "GPL-2.0-or-later",
      "url": "https://www.gnu.org/licenses/old-licenses/gpl-2.0.html"
    },
    "contact": {
      "name": "GratisAPI on GitHub",
      "url": "https://github.com/DomTheDeveloper/GratisAPI"
    }
  },
  "servers": [
    {
      "url": "https://gratisapi.com",
      "description": "production"
    }
  ],
  "tags": [
    {
      "name": "meta",
      "description": "Discovery and metadata endpoints."
    },
    {
      "name": "articles",
      "description": "Guides, explainers and essays about free data, the APIs and the philosophy behind GratisAPI."
    },
    {
      "name": "numbers",
      "description": "Computed facts for every integer from 0 to 999,999: parity, primality, perfect squares and hexadecimal."
    },
    {
      "name": "countries",
      "description": "Countries of the world with capital, ISO codes, continent and currency."
    },
    {
      "name": "us-states",
      "description": "The 50 US states plus the District of Columbia with capital, population, area and region."
    },
    {
      "name": "continents",
      "description": "The seven continents of Earth with area, population and country counts."
    },
    {
      "name": "oceans",
      "description": "The five oceans of the world with area, average and maximum depth."
    },
    {
      "name": "mountains",
      "description": "Notable and high mountains of the world with elevation, range, and first ascent data."
    },
    {
      "name": "rivers",
      "description": "Major rivers of the world with length, continent, and drainage information."
    },
    {
      "name": "lakes",
      "description": "Large and notable lakes of the world with surface area, depth, and type."
    },
    {
      "name": "deserts",
      "description": "Major deserts of the world with approximate area, continent, and type."
    },
    {
      "name": "waterfalls",
      "description": "Famous waterfalls of the world with total height, river, and location."
    },
    {
      "name": "volcanoes",
      "description": "Famous volcanoes with their type, location, and most recent major eruption."
    },
    {
      "name": "national-parks",
      "description": "Famous national parks worldwide with their location, size, and notable features."
    },
    {
      "name": "tallest-buildings",
      "description": "The tallest completed skyscrapers in the world by architectural height."
    },
    {
      "name": "currencies",
      "description": "World currencies with ISO 4217 code, symbol and minor unit."
    },
    {
      "name": "languages",
      "description": "Human languages with ISO 639-1 code, native name and writing direction."
    },
    {
      "name": "animals",
      "description": "Biological taxonomy of animals, from kingdom down to species."
    },
    {
      "name": "dinosaurs",
      "description": "Notable dinosaur genera with geological period, diet, size and fossil range."
    },
    {
      "name": "dog-breeds",
      "description": "Popular dog breeds with breed group, country of origin, size and temperament."
    },
    {
      "name": "cat-breeds",
      "description": "Popular cat breeds with country of origin, coat type and temperament."
    },
    {
      "name": "birds",
      "description": "A selection of bird species with habitat, diet and conservation data."
    },
    {
      "name": "sharks",
      "description": "Shark species with size, habitat, diet and danger-to-humans ratings."
    },
    {
      "name": "trees",
      "description": "Tree species with leaf type, maximum height and native region."
    },
    {
      "name": "flowers",
      "description": "Common flowers with typical color, bloom season and floriography meaning."
    },
    {
      "name": "fruits",
      "description": "Fruits with botanical type, color, origin region and calories per 100g."
    },
    {
      "name": "vegetables",
      "description": "Vegetables with culinary type, color and calories per 100g."
    },
    {
      "name": "spices",
      "description": "Culinary spices and herbs with the plant part used, region of origin, flavor, and heat level."
    },
    {
      "name": "biomes",
      "description": "The major land biomes with their climate, rainfall, and typical vegetation."
    },
    {
      "name": "human-bones",
      "description": "Notable bones of the human skeleton grouped by body region and bone type."
    },
    {
      "name": "human-organs",
      "description": "Major organs of the human body, their organ system, function, and location."
    },
    {
      "name": "body-systems",
      "description": "The eleven organ systems of the human body and their primary functions."
    },
    {
      "name": "human-senses",
      "description": "The human senses, including the classic five plus balance, proprioception, and more."
    },
    {
      "name": "amino-acids",
      "description": "The twenty standard proteinogenic amino acids with codes, essentiality, and polarity."
    },
    {
      "name": "vitamins",
      "description": "The 13 essential human vitamins with function, solubility and food sources."
    },
    {
      "name": "blood-types",
      "description": "The eight ABO/Rh blood groups with donor and recipient compatibility."
    },
    {
      "name": "elements",
      "description": "The 118 elements of the periodic table with symbol, atomic number, mass and category."
    },
    {
      "name": "minerals",
      "description": "Common rock-forming and economically important minerals and their properties."
    },
    {
      "name": "rock-types",
      "description": "Common igneous, sedimentary, and metamorphic rocks and their uses."
    },
    {
      "name": "physical-constants",
      "description": "Fundamental physical constants with symbols, values and units."
    },
    {
      "name": "math-constants",
      "description": "Notable mathematical constants with symbols, values and descriptions."
    },
    {
      "name": "si-prefixes",
      "description": "Metric (SI) unit prefixes with symbol and power of ten."
    },
    {
      "name": "richter-scale",
      "description": "Earthquake magnitude classes from 0 to 10 with effects and frequency."
    },
    {
      "name": "saffir-simpson",
      "description": "Hurricane wind categories with wind speeds, damage, and storm surge."
    },
    {
      "name": "fujita-scale",
      "description": "Tornado intensity ratings EF0 to EF5 with wind speeds and damage."
    },
    {
      "name": "beaufort-scale",
      "description": "The Beaufort wind force scale from 0 (calm) to 12 (hurricane)."
    },
    {
      "name": "mohs-scale",
      "description": "Mineral hardness from 1 (talc) to 10 (diamond) with reference minerals."
    },
    {
      "name": "ph-scale",
      "description": "The pH scale from 0 to 14 with an example substance at each value."
    },
    {
      "name": "scoville-scale",
      "description": "Peppers, hot sauces, and extracts ranked by Scoville heat units (SHU)."
    },
    {
      "name": "uv-index",
      "description": "WHO UV Index exposure categories with associated risk and protection advice."
    },
    {
      "name": "paper-sizes",
      "description": "ISO 216 A-series and B-series paper sizes with dimensions in millimetres."
    },
    {
      "name": "cooking-measurements",
      "description": "Common cooking measurement units with volume (ml) and weight (g) conversions."
    },
    {
      "name": "number-bases",
      "description": "Common numeral systems and positional number bases with their digit sets."
    },
    {
      "name": "planets",
      "description": "Planets and dwarf planets of the Solar System with key physical data."
    },
    {
      "name": "moons",
      "description": "Notable natural satellites of the Solar System with parent planet and discovery details."
    },
    {
      "name": "constellations",
      "description": "The 88 official IAU constellations with abbreviations, meanings and areas."
    },
    {
      "name": "stars",
      "description": "Bright and notable stars with constellation, magnitude, distance and spectral type."
    },
    {
      "name": "galaxies",
      "description": "A collection of notable galaxies with their type, location, and distance from Earth."
    },
    {
      "name": "space-agencies",
      "description": "National and international space agencies with their founding year and headquarters."
    },
    {
      "name": "space-missions",
      "description": "Landmark space missions with their agency, launch year, type, and key achievement."
    },
    {
      "name": "mars-rovers",
      "description": "Mars rovers and notable landers with their agency, launch year, and mission status."
    },
    {
      "name": "telescopes",
      "description": "Famous space and ground-based telescopes with their location, wavelength, and first light year."
    },
    {
      "name": "zodiac",
      "description": "The twelve signs of the Western zodiac with dates, elements and symbols."
    },
    {
      "name": "cloud-types",
      "description": "The principal cloud genera classified by altitude and appearance."
    },
    {
      "name": "http-status",
      "description": "HTTP response status codes with their standard reason phrase and category."
    },
    {
      "name": "http-methods",
      "description": "The HTTP request methods and their safety, idempotency, and caching semantics."
    },
    {
      "name": "http-headers",
      "description": "Common HTTP request and response headers and their purpose."
    },
    {
      "name": "mime-types",
      "description": "Common MIME (media) types with their category and typical file extensions."
    },
    {
      "name": "tcp-ports",
      "description": "Well-known TCP and UDP port numbers and the network services assigned to them."
    },
    {
      "name": "programming-languages",
      "description": "Popular programming languages with the year they first appeared, paradigm, and typing."
    },
    {
      "name": "operating-systems",
      "description": "Notable operating systems with their family, developer, and kernel."
    },
    {
      "name": "file-formats",
      "description": "Common file formats identified by extension and category."
    },
    {
      "name": "ascii",
      "description": "The printable ASCII characters from decimal 32 to 126 with their numeric representations."
    },
    {
      "name": "css-units",
      "description": "CSS units for length, angle, time, and viewport measurements."
    },
    {
      "name": "sql-keywords",
      "description": "Common SQL keywords and clauses grouped by language category."
    },
    {
      "name": "data-structures",
      "description": "Fundamental computer science data structures with their average-case time complexities."
    },
    {
      "name": "sorting-algorithms",
      "description": "Well-known comparison and non-comparison sorting algorithms with their complexity and stability."
    },
    {
      "name": "design-patterns",
      "description": "The 23 classic Gang of Four object-oriented software design patterns."
    },
    {
      "name": "git-commands",
      "description": "Common Git version control commands grouped by workflow stage."
    },
    {
      "name": "logic-gates",
      "description": "The fundamental digital logic gates with their symbols, truth tables, and Boolean expressions."
    },
    {
      "name": "greek-alphabet",
      "description": "The 24 letters of the Greek alphabet with transliteration and numeric value."
    },
    {
      "name": "cyrillic-alphabet",
      "description": "The 33 letters of the modern Russian Cyrillic alphabet with transliteration and sound."
    },
    {
      "name": "hebrew-alphabet",
      "description": "The 22 letters of the Hebrew alphabet with transliteration and numeric (gematria) value."
    },
    {
      "name": "hiragana",
      "description": "The 46 basic hiragana characters of the Japanese syllabary with romaji."
    },
    {
      "name": "katakana",
      "description": "The 46 basic katakana characters of the Japanese syllabary with romaji."
    },
    {
      "name": "braille",
      "description": "Braille dot patterns for the 26 letters A-Z of the English alphabet."
    },
    {
      "name": "nato-alphabet",
      "description": "The 26 NATO phonetic alphabet code words with pronunciation and Morse code."
    },
    {
      "name": "morse-code",
      "description": "International Morse code for A-Z, 0-9 and common punctuation."
    },
    {
      "name": "roman-numerals",
      "description": "Roman numeral representations for a selection of useful Arabic numbers."
    },
    {
      "name": "quotes",
      "description": "Memorable quotes from famous people throughout history."
    },
    {
      "name": "us-presidents",
      "description": "Presidents of the United States from Washington through Biden."
    },
    {
      "name": "greek-gods",
      "description": "Gods, Titans, primordials, and heroes of Greek mythology."
    },
    {
      "name": "roman-gods",
      "description": "Major deities of ancient Roman religion with their Greek equivalents."
    },
    {
      "name": "norse-gods",
      "description": "Gods and figures of Norse mythology."
    },
    {
      "name": "egyptian-gods",
      "description": "Deities of ancient Egyptian mythology."
    },
    {
      "name": "hindu-gods",
      "description": "Major deities of Hinduism with their domains, consorts, and mounts."
    },
    {
      "name": "celtic-gods",
      "description": "Deities and legendary figures from Irish, Welsh, and Gaulish Celtic mythology."
    },
    {
      "name": "world-religions",
      "description": "Major world religions with their origins, regions, and approximate adherent counts."
    },
    {
      "name": "seven-wonders",
      "description": "The Seven Wonders of the Ancient World and the New Seven Wonders."
    },
    {
      "name": "seven-deadly-sins",
      "description": "The seven deadly sins and the seven heavenly virtues that oppose them."
    },
    {
      "name": "chinese-zodiac",
      "description": "The twelve animals of the Chinese zodiac with fixed element, yin-yang polarity, traits, and example years."
    },
    {
      "name": "birthstones",
      "description": "The traditional monthly birthstones with their color and symbolic meaning."
    },
    {
      "name": "tarot-major-arcana",
      "description": "The twenty-two Major Arcana cards of the tarot with keywords and elemental association."
    },
    {
      "name": "gemstones",
      "description": "Popular gemstones with typical color, Mohs hardness, crystal system, and precious classification."
    },
    {
      "name": "colors",
      "description": "Named web colors with hex, RGB and HSL values."
    },
    {
      "name": "art-movements",
      "description": "Major art movements with their period, region of origin, key artists, and a short description."
    },
    {
      "name": "music-genres",
      "description": "Popular music genres with their decade and region of origin and a short description."
    },
    {
      "name": "film-genres",
      "description": "Common film genres with a short description and a representative example film."
    },
    {
      "name": "musical-instruments",
      "description": "Common musical instruments with their family, Hornbostel-Sachs classification, and region of origin."
    },
    {
      "name": "martial-arts",
      "description": "Martial arts from around the world with their country of origin, combat type, and a short description."
    },
    {
      "name": "olympic-sports",
      "description": "Summer and Winter Olympic sports with their category, competition type, and year first contested."
    },
    {
      "name": "cocktails",
      "description": "Classic cocktails with their base spirit, family, serving glass, and IBA official status."
    },
    {
      "name": "teas",
      "description": "A collection of well-known teas with their type, origin, and caffeine level."
    },
    {
      "name": "cheeses",
      "description": "A collection of famous cheeses with their country of origin, milk type, texture, and flavor."
    },
    {
      "name": "pasta-shapes",
      "description": "A collection of Italian pasta shapes with their literal meaning and typical use."
    },
    {
      "name": "chess-pieces",
      "description": "The six chess pieces with their Unicode symbols, relative point value, and movement rules."
    },
    {
      "name": "playing-cards",
      "description": "A standard 52-card deck with rank, suit, color, value, and suit symbol."
    },
    {
      "name": "calendar",
      "description": "Months of the year and days of the week with ordinal, length and abbreviation."
    }
  ],
  "paths": {
    "/api/index": {
      "get": {
        "summary": "List all available APIs",
        "operationId": "listApis",
        "tags": [
          "meta"
        ],
        "responses": {
          "200": {
            "description": "Directory of every GratisAPI dataset."
          }
        }
      }
    },
    "/api/articles/index": {
      "get": {
        "summary": "List all articles",
        "operationId": "list_articles",
        "tags": [
          "articles"
        ],
        "responses": {
          "200": {
            "description": "All articles records."
          }
        }
      }
    },
    "/api/articles/{id}": {
      "get": {
        "summary": "Get a single articles record by id",
        "operationId": "get_articles",
        "tags": [
          "articles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/numbers/index": {
      "get": {
        "summary": "List all numbers",
        "operationId": "list_numbers",
        "tags": [
          "numbers"
        ],
        "responses": {
          "200": {
            "description": "All numbers records."
          }
        }
      }
    },
    "/api/numbers/{id}": {
      "get": {
        "summary": "Get a single numbers record by id",
        "operationId": "get_numbers",
        "tags": [
          "numbers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/countries/index": {
      "get": {
        "summary": "List all countries",
        "operationId": "list_countries",
        "tags": [
          "countries"
        ],
        "responses": {
          "200": {
            "description": "All countries records."
          }
        }
      }
    },
    "/api/countries/{id}": {
      "get": {
        "summary": "Get a single countries record by id",
        "operationId": "get_countries",
        "tags": [
          "countries"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/us-states/index": {
      "get": {
        "summary": "List all us states",
        "operationId": "list_us_states",
        "tags": [
          "us-states"
        ],
        "responses": {
          "200": {
            "description": "All us states records."
          }
        }
      }
    },
    "/api/us-states/{id}": {
      "get": {
        "summary": "Get a single us states record by id",
        "operationId": "get_us_states",
        "tags": [
          "us-states"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/continents/index": {
      "get": {
        "summary": "List all continents",
        "operationId": "list_continents",
        "tags": [
          "continents"
        ],
        "responses": {
          "200": {
            "description": "All continents records."
          }
        }
      }
    },
    "/api/continents/{id}": {
      "get": {
        "summary": "Get a single continents record by id",
        "operationId": "get_continents",
        "tags": [
          "continents"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/oceans/index": {
      "get": {
        "summary": "List all oceans",
        "operationId": "list_oceans",
        "tags": [
          "oceans"
        ],
        "responses": {
          "200": {
            "description": "All oceans records."
          }
        }
      }
    },
    "/api/oceans/{id}": {
      "get": {
        "summary": "Get a single oceans record by id",
        "operationId": "get_oceans",
        "tags": [
          "oceans"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/mountains/index": {
      "get": {
        "summary": "List all mountains",
        "operationId": "list_mountains",
        "tags": [
          "mountains"
        ],
        "responses": {
          "200": {
            "description": "All mountains records."
          }
        }
      }
    },
    "/api/mountains/{id}": {
      "get": {
        "summary": "Get a single mountains record by id",
        "operationId": "get_mountains",
        "tags": [
          "mountains"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/rivers/index": {
      "get": {
        "summary": "List all rivers",
        "operationId": "list_rivers",
        "tags": [
          "rivers"
        ],
        "responses": {
          "200": {
            "description": "All rivers records."
          }
        }
      }
    },
    "/api/rivers/{id}": {
      "get": {
        "summary": "Get a single rivers record by id",
        "operationId": "get_rivers",
        "tags": [
          "rivers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/lakes/index": {
      "get": {
        "summary": "List all lakes",
        "operationId": "list_lakes",
        "tags": [
          "lakes"
        ],
        "responses": {
          "200": {
            "description": "All lakes records."
          }
        }
      }
    },
    "/api/lakes/{id}": {
      "get": {
        "summary": "Get a single lakes record by id",
        "operationId": "get_lakes",
        "tags": [
          "lakes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/deserts/index": {
      "get": {
        "summary": "List all deserts",
        "operationId": "list_deserts",
        "tags": [
          "deserts"
        ],
        "responses": {
          "200": {
            "description": "All deserts records."
          }
        }
      }
    },
    "/api/deserts/{id}": {
      "get": {
        "summary": "Get a single deserts record by id",
        "operationId": "get_deserts",
        "tags": [
          "deserts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/waterfalls/index": {
      "get": {
        "summary": "List all waterfalls",
        "operationId": "list_waterfalls",
        "tags": [
          "waterfalls"
        ],
        "responses": {
          "200": {
            "description": "All waterfalls records."
          }
        }
      }
    },
    "/api/waterfalls/{id}": {
      "get": {
        "summary": "Get a single waterfalls record by id",
        "operationId": "get_waterfalls",
        "tags": [
          "waterfalls"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/volcanoes/index": {
      "get": {
        "summary": "List all notable volcanoes",
        "operationId": "list_volcanoes",
        "tags": [
          "volcanoes"
        ],
        "responses": {
          "200": {
            "description": "All notable volcanoes records."
          }
        }
      }
    },
    "/api/volcanoes/{id}": {
      "get": {
        "summary": "Get a single notable volcanoes record by id",
        "operationId": "get_volcanoes",
        "tags": [
          "volcanoes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/national-parks/index": {
      "get": {
        "summary": "List all national parks",
        "operationId": "list_national_parks",
        "tags": [
          "national-parks"
        ],
        "responses": {
          "200": {
            "description": "All national parks records."
          }
        }
      }
    },
    "/api/national-parks/{id}": {
      "get": {
        "summary": "Get a single national parks record by id",
        "operationId": "get_national_parks",
        "tags": [
          "national-parks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/tallest-buildings/index": {
      "get": {
        "summary": "List all tallest buildings",
        "operationId": "list_tallest_buildings",
        "tags": [
          "tallest-buildings"
        ],
        "responses": {
          "200": {
            "description": "All tallest buildings records."
          }
        }
      }
    },
    "/api/tallest-buildings/{id}": {
      "get": {
        "summary": "Get a single tallest buildings record by id",
        "operationId": "get_tallest_buildings",
        "tags": [
          "tallest-buildings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/currencies/index": {
      "get": {
        "summary": "List all currencies",
        "operationId": "list_currencies",
        "tags": [
          "currencies"
        ],
        "responses": {
          "200": {
            "description": "All currencies records."
          }
        }
      }
    },
    "/api/currencies/{id}": {
      "get": {
        "summary": "Get a single currencies record by id",
        "operationId": "get_currencies",
        "tags": [
          "currencies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/languages/index": {
      "get": {
        "summary": "List all languages",
        "operationId": "list_languages",
        "tags": [
          "languages"
        ],
        "responses": {
          "200": {
            "description": "All languages records."
          }
        }
      }
    },
    "/api/languages/{id}": {
      "get": {
        "summary": "Get a single languages record by id",
        "operationId": "get_languages",
        "tags": [
          "languages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/animals/index": {
      "get": {
        "summary": "List all animals",
        "operationId": "list_animals",
        "tags": [
          "animals"
        ],
        "responses": {
          "200": {
            "description": "All animals records."
          }
        }
      }
    },
    "/api/animals/{id}": {
      "get": {
        "summary": "Get a single animals record by id",
        "operationId": "get_animals",
        "tags": [
          "animals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/dinosaurs/index": {
      "get": {
        "summary": "List all dinosaurs",
        "operationId": "list_dinosaurs",
        "tags": [
          "dinosaurs"
        ],
        "responses": {
          "200": {
            "description": "All dinosaurs records."
          }
        }
      }
    },
    "/api/dinosaurs/{id}": {
      "get": {
        "summary": "Get a single dinosaurs record by id",
        "operationId": "get_dinosaurs",
        "tags": [
          "dinosaurs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/dog-breeds/index": {
      "get": {
        "summary": "List all dog breeds",
        "operationId": "list_dog_breeds",
        "tags": [
          "dog-breeds"
        ],
        "responses": {
          "200": {
            "description": "All dog breeds records."
          }
        }
      }
    },
    "/api/dog-breeds/{id}": {
      "get": {
        "summary": "Get a single dog breeds record by id",
        "operationId": "get_dog_breeds",
        "tags": [
          "dog-breeds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/cat-breeds/index": {
      "get": {
        "summary": "List all cat breeds",
        "operationId": "list_cat_breeds",
        "tags": [
          "cat-breeds"
        ],
        "responses": {
          "200": {
            "description": "All cat breeds records."
          }
        }
      }
    },
    "/api/cat-breeds/{id}": {
      "get": {
        "summary": "Get a single cat breeds record by id",
        "operationId": "get_cat_breeds",
        "tags": [
          "cat-breeds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/birds/index": {
      "get": {
        "summary": "List all birds",
        "operationId": "list_birds",
        "tags": [
          "birds"
        ],
        "responses": {
          "200": {
            "description": "All birds records."
          }
        }
      }
    },
    "/api/birds/{id}": {
      "get": {
        "summary": "Get a single birds record by id",
        "operationId": "get_birds",
        "tags": [
          "birds"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/sharks/index": {
      "get": {
        "summary": "List all sharks",
        "operationId": "list_sharks",
        "tags": [
          "sharks"
        ],
        "responses": {
          "200": {
            "description": "All sharks records."
          }
        }
      }
    },
    "/api/sharks/{id}": {
      "get": {
        "summary": "Get a single sharks record by id",
        "operationId": "get_sharks",
        "tags": [
          "sharks"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/trees/index": {
      "get": {
        "summary": "List all trees",
        "operationId": "list_trees",
        "tags": [
          "trees"
        ],
        "responses": {
          "200": {
            "description": "All trees records."
          }
        }
      }
    },
    "/api/trees/{id}": {
      "get": {
        "summary": "Get a single trees record by id",
        "operationId": "get_trees",
        "tags": [
          "trees"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/flowers/index": {
      "get": {
        "summary": "List all flowers",
        "operationId": "list_flowers",
        "tags": [
          "flowers"
        ],
        "responses": {
          "200": {
            "description": "All flowers records."
          }
        }
      }
    },
    "/api/flowers/{id}": {
      "get": {
        "summary": "Get a single flowers record by id",
        "operationId": "get_flowers",
        "tags": [
          "flowers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/fruits/index": {
      "get": {
        "summary": "List all fruits",
        "operationId": "list_fruits",
        "tags": [
          "fruits"
        ],
        "responses": {
          "200": {
            "description": "All fruits records."
          }
        }
      }
    },
    "/api/fruits/{id}": {
      "get": {
        "summary": "Get a single fruits record by id",
        "operationId": "get_fruits",
        "tags": [
          "fruits"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/vegetables/index": {
      "get": {
        "summary": "List all vegetables",
        "operationId": "list_vegetables",
        "tags": [
          "vegetables"
        ],
        "responses": {
          "200": {
            "description": "All vegetables records."
          }
        }
      }
    },
    "/api/vegetables/{id}": {
      "get": {
        "summary": "Get a single vegetables record by id",
        "operationId": "get_vegetables",
        "tags": [
          "vegetables"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/spices/index": {
      "get": {
        "summary": "List all spices and herbs",
        "operationId": "list_spices",
        "tags": [
          "spices"
        ],
        "responses": {
          "200": {
            "description": "All spices and herbs records."
          }
        }
      }
    },
    "/api/spices/{id}": {
      "get": {
        "summary": "Get a single spices and herbs record by id",
        "operationId": "get_spices",
        "tags": [
          "spices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/biomes/index": {
      "get": {
        "summary": "List all terrestrial biomes",
        "operationId": "list_biomes",
        "tags": [
          "biomes"
        ],
        "responses": {
          "200": {
            "description": "All terrestrial biomes records."
          }
        }
      }
    },
    "/api/biomes/{id}": {
      "get": {
        "summary": "Get a single terrestrial biomes record by id",
        "operationId": "get_biomes",
        "tags": [
          "biomes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/human-bones/index": {
      "get": {
        "summary": "List all human bones",
        "operationId": "list_human_bones",
        "tags": [
          "human-bones"
        ],
        "responses": {
          "200": {
            "description": "All human bones records."
          }
        }
      }
    },
    "/api/human-bones/{id}": {
      "get": {
        "summary": "Get a single human bones record by id",
        "operationId": "get_human_bones",
        "tags": [
          "human-bones"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/human-organs/index": {
      "get": {
        "summary": "List all human organs",
        "operationId": "list_human_organs",
        "tags": [
          "human-organs"
        ],
        "responses": {
          "200": {
            "description": "All human organs records."
          }
        }
      }
    },
    "/api/human-organs/{id}": {
      "get": {
        "summary": "Get a single human organs record by id",
        "operationId": "get_human_organs",
        "tags": [
          "human-organs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/body-systems/index": {
      "get": {
        "summary": "List all human body systems",
        "operationId": "list_body_systems",
        "tags": [
          "body-systems"
        ],
        "responses": {
          "200": {
            "description": "All human body systems records."
          }
        }
      }
    },
    "/api/body-systems/{id}": {
      "get": {
        "summary": "Get a single human body systems record by id",
        "operationId": "get_body_systems",
        "tags": [
          "body-systems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/human-senses/index": {
      "get": {
        "summary": "List all human senses",
        "operationId": "list_human_senses",
        "tags": [
          "human-senses"
        ],
        "responses": {
          "200": {
            "description": "All human senses records."
          }
        }
      }
    },
    "/api/human-senses/{id}": {
      "get": {
        "summary": "Get a single human senses record by id",
        "operationId": "get_human_senses",
        "tags": [
          "human-senses"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/amino-acids/index": {
      "get": {
        "summary": "List all amino acids",
        "operationId": "list_amino_acids",
        "tags": [
          "amino-acids"
        ],
        "responses": {
          "200": {
            "description": "All amino acids records."
          }
        }
      }
    },
    "/api/amino-acids/{id}": {
      "get": {
        "summary": "Get a single amino acids record by id",
        "operationId": "get_amino_acids",
        "tags": [
          "amino-acids"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/vitamins/index": {
      "get": {
        "summary": "List all vitamins",
        "operationId": "list_vitamins",
        "tags": [
          "vitamins"
        ],
        "responses": {
          "200": {
            "description": "All vitamins records."
          }
        }
      }
    },
    "/api/vitamins/{id}": {
      "get": {
        "summary": "Get a single vitamins record by id",
        "operationId": "get_vitamins",
        "tags": [
          "vitamins"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/blood-types/index": {
      "get": {
        "summary": "List all blood types",
        "operationId": "list_blood_types",
        "tags": [
          "blood-types"
        ],
        "responses": {
          "200": {
            "description": "All blood types records."
          }
        }
      }
    },
    "/api/blood-types/{id}": {
      "get": {
        "summary": "Get a single blood types record by id",
        "operationId": "get_blood_types",
        "tags": [
          "blood-types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/elements/index": {
      "get": {
        "summary": "List all chemical elements",
        "operationId": "list_elements",
        "tags": [
          "elements"
        ],
        "responses": {
          "200": {
            "description": "All chemical elements records."
          }
        }
      }
    },
    "/api/elements/{id}": {
      "get": {
        "summary": "Get a single chemical elements record by id",
        "operationId": "get_elements",
        "tags": [
          "elements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/minerals/index": {
      "get": {
        "summary": "List all common minerals",
        "operationId": "list_minerals",
        "tags": [
          "minerals"
        ],
        "responses": {
          "200": {
            "description": "All common minerals records."
          }
        }
      }
    },
    "/api/minerals/{id}": {
      "get": {
        "summary": "Get a single common minerals record by id",
        "operationId": "get_minerals",
        "tags": [
          "minerals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/rock-types/index": {
      "get": {
        "summary": "List all rock types",
        "operationId": "list_rock_types",
        "tags": [
          "rock-types"
        ],
        "responses": {
          "200": {
            "description": "All rock types records."
          }
        }
      }
    },
    "/api/rock-types/{id}": {
      "get": {
        "summary": "Get a single rock types record by id",
        "operationId": "get_rock_types",
        "tags": [
          "rock-types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/physical-constants/index": {
      "get": {
        "summary": "List all physical constants",
        "operationId": "list_physical_constants",
        "tags": [
          "physical-constants"
        ],
        "responses": {
          "200": {
            "description": "All physical constants records."
          }
        }
      }
    },
    "/api/physical-constants/{id}": {
      "get": {
        "summary": "Get a single physical constants record by id",
        "operationId": "get_physical_constants",
        "tags": [
          "physical-constants"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/math-constants/index": {
      "get": {
        "summary": "List all math constants",
        "operationId": "list_math_constants",
        "tags": [
          "math-constants"
        ],
        "responses": {
          "200": {
            "description": "All math constants records."
          }
        }
      }
    },
    "/api/math-constants/{id}": {
      "get": {
        "summary": "Get a single math constants record by id",
        "operationId": "get_math_constants",
        "tags": [
          "math-constants"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/si-prefixes/index": {
      "get": {
        "summary": "List all si prefixes",
        "operationId": "list_si_prefixes",
        "tags": [
          "si-prefixes"
        ],
        "responses": {
          "200": {
            "description": "All si prefixes records."
          }
        }
      }
    },
    "/api/si-prefixes/{id}": {
      "get": {
        "summary": "Get a single si prefixes record by id",
        "operationId": "get_si_prefixes",
        "tags": [
          "si-prefixes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/richter-scale/index": {
      "get": {
        "summary": "List all richter scale",
        "operationId": "list_richter_scale",
        "tags": [
          "richter-scale"
        ],
        "responses": {
          "200": {
            "description": "All richter scale records."
          }
        }
      }
    },
    "/api/richter-scale/{id}": {
      "get": {
        "summary": "Get a single richter scale record by id",
        "operationId": "get_richter_scale",
        "tags": [
          "richter-scale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/saffir-simpson/index": {
      "get": {
        "summary": "List all saffir-simpson scale",
        "operationId": "list_saffir_simpson",
        "tags": [
          "saffir-simpson"
        ],
        "responses": {
          "200": {
            "description": "All saffir-simpson scale records."
          }
        }
      }
    },
    "/api/saffir-simpson/{id}": {
      "get": {
        "summary": "Get a single saffir-simpson scale record by id",
        "operationId": "get_saffir_simpson",
        "tags": [
          "saffir-simpson"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/fujita-scale/index": {
      "get": {
        "summary": "List all enhanced fujita scale",
        "operationId": "list_fujita_scale",
        "tags": [
          "fujita-scale"
        ],
        "responses": {
          "200": {
            "description": "All enhanced fujita scale records."
          }
        }
      }
    },
    "/api/fujita-scale/{id}": {
      "get": {
        "summary": "Get a single enhanced fujita scale record by id",
        "operationId": "get_fujita_scale",
        "tags": [
          "fujita-scale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/beaufort-scale/index": {
      "get": {
        "summary": "List all beaufort scale",
        "operationId": "list_beaufort_scale",
        "tags": [
          "beaufort-scale"
        ],
        "responses": {
          "200": {
            "description": "All beaufort scale records."
          }
        }
      }
    },
    "/api/beaufort-scale/{id}": {
      "get": {
        "summary": "Get a single beaufort scale record by id",
        "operationId": "get_beaufort_scale",
        "tags": [
          "beaufort-scale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/mohs-scale/index": {
      "get": {
        "summary": "List all mohs hardness scale",
        "operationId": "list_mohs_scale",
        "tags": [
          "mohs-scale"
        ],
        "responses": {
          "200": {
            "description": "All mohs hardness scale records."
          }
        }
      }
    },
    "/api/mohs-scale/{id}": {
      "get": {
        "summary": "Get a single mohs hardness scale record by id",
        "operationId": "get_mohs_scale",
        "tags": [
          "mohs-scale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/ph-scale/index": {
      "get": {
        "summary": "List all ph scale",
        "operationId": "list_ph_scale",
        "tags": [
          "ph-scale"
        ],
        "responses": {
          "200": {
            "description": "All ph scale records."
          }
        }
      }
    },
    "/api/ph-scale/{id}": {
      "get": {
        "summary": "Get a single ph scale record by id",
        "operationId": "get_ph_scale",
        "tags": [
          "ph-scale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/scoville-scale/index": {
      "get": {
        "summary": "List all scoville scale",
        "operationId": "list_scoville_scale",
        "tags": [
          "scoville-scale"
        ],
        "responses": {
          "200": {
            "description": "All scoville scale records."
          }
        }
      }
    },
    "/api/scoville-scale/{id}": {
      "get": {
        "summary": "Get a single scoville scale record by id",
        "operationId": "get_scoville_scale",
        "tags": [
          "scoville-scale"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/uv-index/index": {
      "get": {
        "summary": "List all uv index",
        "operationId": "list_uv_index",
        "tags": [
          "uv-index"
        ],
        "responses": {
          "200": {
            "description": "All uv index records."
          }
        }
      }
    },
    "/api/uv-index/{id}": {
      "get": {
        "summary": "Get a single uv index record by id",
        "operationId": "get_uv_index",
        "tags": [
          "uv-index"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/paper-sizes/index": {
      "get": {
        "summary": "List all paper sizes",
        "operationId": "list_paper_sizes",
        "tags": [
          "paper-sizes"
        ],
        "responses": {
          "200": {
            "description": "All paper sizes records."
          }
        }
      }
    },
    "/api/paper-sizes/{id}": {
      "get": {
        "summary": "Get a single paper sizes record by id",
        "operationId": "get_paper_sizes",
        "tags": [
          "paper-sizes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/cooking-measurements/index": {
      "get": {
        "summary": "List all cooking measurements",
        "operationId": "list_cooking_measurements",
        "tags": [
          "cooking-measurements"
        ],
        "responses": {
          "200": {
            "description": "All cooking measurements records."
          }
        }
      }
    },
    "/api/cooking-measurements/{id}": {
      "get": {
        "summary": "Get a single cooking measurements record by id",
        "operationId": "get_cooking_measurements",
        "tags": [
          "cooking-measurements"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/number-bases/index": {
      "get": {
        "summary": "List all number bases",
        "operationId": "list_number_bases",
        "tags": [
          "number-bases"
        ],
        "responses": {
          "200": {
            "description": "All number bases records."
          }
        }
      }
    },
    "/api/number-bases/{id}": {
      "get": {
        "summary": "Get a single number bases record by id",
        "operationId": "get_number_bases",
        "tags": [
          "number-bases"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/planets/index": {
      "get": {
        "summary": "List all planets",
        "operationId": "list_planets",
        "tags": [
          "planets"
        ],
        "responses": {
          "200": {
            "description": "All planets records."
          }
        }
      }
    },
    "/api/planets/{id}": {
      "get": {
        "summary": "Get a single planets record by id",
        "operationId": "get_planets",
        "tags": [
          "planets"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/moons/index": {
      "get": {
        "summary": "List all moons",
        "operationId": "list_moons",
        "tags": [
          "moons"
        ],
        "responses": {
          "200": {
            "description": "All moons records."
          }
        }
      }
    },
    "/api/moons/{id}": {
      "get": {
        "summary": "Get a single moons record by id",
        "operationId": "get_moons",
        "tags": [
          "moons"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/constellations/index": {
      "get": {
        "summary": "List all constellations",
        "operationId": "list_constellations",
        "tags": [
          "constellations"
        ],
        "responses": {
          "200": {
            "description": "All constellations records."
          }
        }
      }
    },
    "/api/constellations/{id}": {
      "get": {
        "summary": "Get a single constellations record by id",
        "operationId": "get_constellations",
        "tags": [
          "constellations"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/stars/index": {
      "get": {
        "summary": "List all stars",
        "operationId": "list_stars",
        "tags": [
          "stars"
        ],
        "responses": {
          "200": {
            "description": "All stars records."
          }
        }
      }
    },
    "/api/stars/{id}": {
      "get": {
        "summary": "Get a single stars record by id",
        "operationId": "get_stars",
        "tags": [
          "stars"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/galaxies/index": {
      "get": {
        "summary": "List all notable galaxies",
        "operationId": "list_galaxies",
        "tags": [
          "galaxies"
        ],
        "responses": {
          "200": {
            "description": "All notable galaxies records."
          }
        }
      }
    },
    "/api/galaxies/{id}": {
      "get": {
        "summary": "Get a single notable galaxies record by id",
        "operationId": "get_galaxies",
        "tags": [
          "galaxies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/space-agencies/index": {
      "get": {
        "summary": "List all space agencies",
        "operationId": "list_space_agencies",
        "tags": [
          "space-agencies"
        ],
        "responses": {
          "200": {
            "description": "All space agencies records."
          }
        }
      }
    },
    "/api/space-agencies/{id}": {
      "get": {
        "summary": "Get a single space agencies record by id",
        "operationId": "get_space_agencies",
        "tags": [
          "space-agencies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/space-missions/index": {
      "get": {
        "summary": "List all landmark space missions",
        "operationId": "list_space_missions",
        "tags": [
          "space-missions"
        ],
        "responses": {
          "200": {
            "description": "All landmark space missions records."
          }
        }
      }
    },
    "/api/space-missions/{id}": {
      "get": {
        "summary": "Get a single landmark space missions record by id",
        "operationId": "get_space_missions",
        "tags": [
          "space-missions"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/mars-rovers/index": {
      "get": {
        "summary": "List all mars rovers and landers",
        "operationId": "list_mars_rovers",
        "tags": [
          "mars-rovers"
        ],
        "responses": {
          "200": {
            "description": "All mars rovers and landers records."
          }
        }
      }
    },
    "/api/mars-rovers/{id}": {
      "get": {
        "summary": "Get a single mars rovers and landers record by id",
        "operationId": "get_mars_rovers",
        "tags": [
          "mars-rovers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/telescopes/index": {
      "get": {
        "summary": "List all famous telescopes and observatories",
        "operationId": "list_telescopes",
        "tags": [
          "telescopes"
        ],
        "responses": {
          "200": {
            "description": "All famous telescopes and observatories records."
          }
        }
      }
    },
    "/api/telescopes/{id}": {
      "get": {
        "summary": "Get a single famous telescopes and observatories record by id",
        "operationId": "get_telescopes",
        "tags": [
          "telescopes"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/zodiac/index": {
      "get": {
        "summary": "List all zodiac",
        "operationId": "list_zodiac",
        "tags": [
          "zodiac"
        ],
        "responses": {
          "200": {
            "description": "All zodiac records."
          }
        }
      }
    },
    "/api/zodiac/{id}": {
      "get": {
        "summary": "Get a single zodiac record by id",
        "operationId": "get_zodiac",
        "tags": [
          "zodiac"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/cloud-types/index": {
      "get": {
        "summary": "List all cloud types",
        "operationId": "list_cloud_types",
        "tags": [
          "cloud-types"
        ],
        "responses": {
          "200": {
            "description": "All cloud types records."
          }
        }
      }
    },
    "/api/cloud-types/{id}": {
      "get": {
        "summary": "Get a single cloud types record by id",
        "operationId": "get_cloud_types",
        "tags": [
          "cloud-types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/http-status/index": {
      "get": {
        "summary": "List all http status codes",
        "operationId": "list_http_status",
        "tags": [
          "http-status"
        ],
        "responses": {
          "200": {
            "description": "All http status codes records."
          }
        }
      }
    },
    "/api/http-status/{id}": {
      "get": {
        "summary": "Get a single http status codes record by id",
        "operationId": "get_http_status",
        "tags": [
          "http-status"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/http-methods/index": {
      "get": {
        "summary": "List all http request methods",
        "operationId": "list_http_methods",
        "tags": [
          "http-methods"
        ],
        "responses": {
          "200": {
            "description": "All http request methods records."
          }
        }
      }
    },
    "/api/http-methods/{id}": {
      "get": {
        "summary": "Get a single http request methods record by id",
        "operationId": "get_http_methods",
        "tags": [
          "http-methods"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/http-headers/index": {
      "get": {
        "summary": "List all http headers",
        "operationId": "list_http_headers",
        "tags": [
          "http-headers"
        ],
        "responses": {
          "200": {
            "description": "All http headers records."
          }
        }
      }
    },
    "/api/http-headers/{id}": {
      "get": {
        "summary": "Get a single http headers record by id",
        "operationId": "get_http_headers",
        "tags": [
          "http-headers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/mime-types/index": {
      "get": {
        "summary": "List all mime types",
        "operationId": "list_mime_types",
        "tags": [
          "mime-types"
        ],
        "responses": {
          "200": {
            "description": "All mime types records."
          }
        }
      }
    },
    "/api/mime-types/{id}": {
      "get": {
        "summary": "Get a single mime types record by id",
        "operationId": "get_mime_types",
        "tags": [
          "mime-types"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/tcp-ports/index": {
      "get": {
        "summary": "List all well-known ports",
        "operationId": "list_tcp_ports",
        "tags": [
          "tcp-ports"
        ],
        "responses": {
          "200": {
            "description": "All well-known ports records."
          }
        }
      }
    },
    "/api/tcp-ports/{id}": {
      "get": {
        "summary": "Get a single well-known ports record by id",
        "operationId": "get_tcp_ports",
        "tags": [
          "tcp-ports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/programming-languages/index": {
      "get": {
        "summary": "List all programming languages",
        "operationId": "list_programming_languages",
        "tags": [
          "programming-languages"
        ],
        "responses": {
          "200": {
            "description": "All programming languages records."
          }
        }
      }
    },
    "/api/programming-languages/{id}": {
      "get": {
        "summary": "Get a single programming languages record by id",
        "operationId": "get_programming_languages",
        "tags": [
          "programming-languages"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/operating-systems/index": {
      "get": {
        "summary": "List all operating systems",
        "operationId": "list_operating_systems",
        "tags": [
          "operating-systems"
        ],
        "responses": {
          "200": {
            "description": "All operating systems records."
          }
        }
      }
    },
    "/api/operating-systems/{id}": {
      "get": {
        "summary": "Get a single operating systems record by id",
        "operationId": "get_operating_systems",
        "tags": [
          "operating-systems"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/file-formats/index": {
      "get": {
        "summary": "List all file formats",
        "operationId": "list_file_formats",
        "tags": [
          "file-formats"
        ],
        "responses": {
          "200": {
            "description": "All file formats records."
          }
        }
      }
    },
    "/api/file-formats/{id}": {
      "get": {
        "summary": "Get a single file formats record by id",
        "operationId": "get_file_formats",
        "tags": [
          "file-formats"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/ascii/index": {
      "get": {
        "summary": "List all printable ascii table",
        "operationId": "list_ascii",
        "tags": [
          "ascii"
        ],
        "responses": {
          "200": {
            "description": "All printable ascii table records."
          }
        }
      }
    },
    "/api/ascii/{id}": {
      "get": {
        "summary": "Get a single printable ascii table record by id",
        "operationId": "get_ascii",
        "tags": [
          "ascii"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/css-units/index": {
      "get": {
        "summary": "List all css units",
        "operationId": "list_css_units",
        "tags": [
          "css-units"
        ],
        "responses": {
          "200": {
            "description": "All css units records."
          }
        }
      }
    },
    "/api/css-units/{id}": {
      "get": {
        "summary": "Get a single css units record by id",
        "operationId": "get_css_units",
        "tags": [
          "css-units"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/sql-keywords/index": {
      "get": {
        "summary": "List all sql keywords",
        "operationId": "list_sql_keywords",
        "tags": [
          "sql-keywords"
        ],
        "responses": {
          "200": {
            "description": "All sql keywords records."
          }
        }
      }
    },
    "/api/sql-keywords/{id}": {
      "get": {
        "summary": "Get a single sql keywords record by id",
        "operationId": "get_sql_keywords",
        "tags": [
          "sql-keywords"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/data-structures/index": {
      "get": {
        "summary": "List all data structures",
        "operationId": "list_data_structures",
        "tags": [
          "data-structures"
        ],
        "responses": {
          "200": {
            "description": "All data structures records."
          }
        }
      }
    },
    "/api/data-structures/{id}": {
      "get": {
        "summary": "Get a single data structures record by id",
        "operationId": "get_data_structures",
        "tags": [
          "data-structures"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/sorting-algorithms/index": {
      "get": {
        "summary": "List all sorting algorithms",
        "operationId": "list_sorting_algorithms",
        "tags": [
          "sorting-algorithms"
        ],
        "responses": {
          "200": {
            "description": "All sorting algorithms records."
          }
        }
      }
    },
    "/api/sorting-algorithms/{id}": {
      "get": {
        "summary": "Get a single sorting algorithms record by id",
        "operationId": "get_sorting_algorithms",
        "tags": [
          "sorting-algorithms"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/design-patterns/index": {
      "get": {
        "summary": "List all design patterns",
        "operationId": "list_design_patterns",
        "tags": [
          "design-patterns"
        ],
        "responses": {
          "200": {
            "description": "All design patterns records."
          }
        }
      }
    },
    "/api/design-patterns/{id}": {
      "get": {
        "summary": "Get a single design patterns record by id",
        "operationId": "get_design_patterns",
        "tags": [
          "design-patterns"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/git-commands/index": {
      "get": {
        "summary": "List all git commands",
        "operationId": "list_git_commands",
        "tags": [
          "git-commands"
        ],
        "responses": {
          "200": {
            "description": "All git commands records."
          }
        }
      }
    },
    "/api/git-commands/{id}": {
      "get": {
        "summary": "Get a single git commands record by id",
        "operationId": "get_git_commands",
        "tags": [
          "git-commands"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/logic-gates/index": {
      "get": {
        "summary": "List all logic gates",
        "operationId": "list_logic_gates",
        "tags": [
          "logic-gates"
        ],
        "responses": {
          "200": {
            "description": "All logic gates records."
          }
        }
      }
    },
    "/api/logic-gates/{id}": {
      "get": {
        "summary": "Get a single logic gates record by id",
        "operationId": "get_logic_gates",
        "tags": [
          "logic-gates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/greek-alphabet/index": {
      "get": {
        "summary": "List all greek alphabet",
        "operationId": "list_greek_alphabet",
        "tags": [
          "greek-alphabet"
        ],
        "responses": {
          "200": {
            "description": "All greek alphabet records."
          }
        }
      }
    },
    "/api/greek-alphabet/{id}": {
      "get": {
        "summary": "Get a single greek alphabet record by id",
        "operationId": "get_greek_alphabet",
        "tags": [
          "greek-alphabet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/cyrillic-alphabet/index": {
      "get": {
        "summary": "List all cyrillic alphabet",
        "operationId": "list_cyrillic_alphabet",
        "tags": [
          "cyrillic-alphabet"
        ],
        "responses": {
          "200": {
            "description": "All cyrillic alphabet records."
          }
        }
      }
    },
    "/api/cyrillic-alphabet/{id}": {
      "get": {
        "summary": "Get a single cyrillic alphabet record by id",
        "operationId": "get_cyrillic_alphabet",
        "tags": [
          "cyrillic-alphabet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested record."
          },
          "404": {
            "description": "No file exists for that id."
          }
        }
      }
    },
    "/api/hebrew-alphabet/index": {
      "get": {
        "summary": "List all hebrew alphabet",
        "operationId": "list_hebrew_alphabet",
        "tags": [
          "hebrew-alphabet"
        ],
        "responses": {
          "200": {
            "description": "All hebrew alphabet records."
          }
        }
      }
    },
    "/api/hebrew-alphabet/{id}": {
      "get": {
        "summary": "Get a single hebrew alphabet record by id",
        "operationId": "get_hebrew_alphabet",
        "tags": [
          "hebrew-alphabet"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The record identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
[...]
